<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <h2>Данный сервис создан для конвертации ваших хранимых
        в облаке электронных таблиц в HTML-файл.</h2>
    <h3>Для конвертации вашего текущего файла вам необходимо
        в свой существующий личный кабинет или создать новый.</h3>
    <form method="GET" action="login">
        <button type="submit">Вход</button>
    </form>
    <br>
    <form method="GET" action="register">
        <button type="submit">Регистрация</button>
    </form>
</body>
</html>